body{
    background-color:rgb(29,42,53,255);
    color: white;
    font-family: Arial, sans-serif;
    flex-direction: column;
    align-items: center;
    height: 75vh;
    margin: 0;
    text-align: center;
}

button {
    background-color: #a76a1b;
    border: none;
    color: white;
    padding: 15px 32px;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
}

p{
    background-color: hsl(122, 39%, 24%);
    color:white;
    border-radius: 999px;
    padding: 1em 0;
}
.small-image {
    width: 250px;
    height: auto;
    border-radius: 999px;
}