:root {
    --farbe1: #071A40;
    --farbe2: #EBEDF2;
    --farbe2a: #cfd3df;
    --farbe3: #8B8B8C;
    --farbe4: #223440;
    --farbe5: #040D08;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}


body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: var(--farbe1);
    background: linear-gradient(135deg, var(--farbe3), var(--farbe2));
    overflow: hidden;
    margin-top: 5px;
    /* width: 100vw;
    height: 100vh; */
}

h1 {
    font-size: 1.8em;
    font-weight: bold;
}

.fa-solid {
    margin-right: 5px;
}


.centeredContent {
    display: flex;
    justify-content: center;
    align-items: center;
}

.leftContent {
    display: flex;
    justify-content: left;
    align-items: center;
}

.rightContent {
    display: flex;
    justify-content: right;
    align-items: center;
}


.mainContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    width: 90vw;
    max-width: 1000px;
    height: 100vh;
}


.searchContainer {
    display: grid;
    grid-template-columns: 5fr 1fr;
    width: 80vw;
    gap: 10px;
    margin-top: 5px;
    font-family: Helvetica, 'FontAwesome', sans-serif;

}

/* .searchContainer>* {
    height: 40px;
    box-sizing: border-box;
    font-size: 1.0em;

} */

/* ----------------------Input Feld formatieren -------------------------------*/

.custom-field {
    position: relative;
    font-size: 1.0em;
    color: var(--farbe4);
    border-top: 5px solid transparent;
    display: inline-block;
    --field-padding: 12px;
  }
  
  .custom-field input {
    border: none;
    -webkit-appearance: none;
    -ms-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: #f2f2f2;
    padding: var(--field-padding);
    border-radius: 10px;
    outline: none;
    font-size: 14px;
    border: 2px solid #ddd;
    width: 100%;
    transition: border-color 0.3s ease;
    
  }

  .custom-field input:focus,
  .custom-field input:valid {
    border-color: var(--farbe4);
  }
  
  .custom-field .placeholder {
    position: absolute;
    /* display: inline-block; */
    background: #f2f2f2;
    left: var(--field-padding);
    /* width: calc(100% - (var(--field-padding) * 2)); */
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    top: 22px;
    line-height: 1.5em;
    transform: translateY(-50%);
    color: #aaa;
    padding: 0px 2px;
    transition: 
      top 0.3s ease,
      color 0.3s ease,
      font-size 0.3s ease,
      left 0.3s ease;
  }
  
  .custom-field input:focus + .placeholder,
  .custom-field input:valid + .placeholder {
    top: 0px;
    font-size: 10px;
    color:var(--farbe4);
    border-radius: 5px;
  }

/* -----------------------ENDE SEARCHBOX---------------------------------- */

.searchButton {

    background-color: var(--farbe2);
    color: var(--farbe4);
    margin-top: 5px;
    border: 1px solid var(--farbe4);
    border-radius: 10px;
    height: 42px;
    font-size: 1.0em;

}

.searchButton:hover {
    background-color: var(--farbe4);
    color: var(--farbe2);
}

.infoContainer {
    display: flex;
    padding: 5px;
    width: 80vw;
    justify-content: left;
}

#errorContainer {
   display: flex;
   align-items: center;
   color: red;

}

.errorClose{
    display: none;
}

.closeButton {
    background-color: var(--farbe2);
    color: red;
    border: 1px solid red;
    border-radius: 5px;
    font-size: 0.6em;
}

.countryGrid {
    width: 80vw;
    /*max-width: 1000px;*/
}

.gridLayout {
    display: grid;
    grid-template-columns: minmax(65px, 2fr) 5fr minmax(65px, 2fr) 5fr minmax(90px, 2fr) minmax(100px, 2fr);
    align-items: center;
}

.gridLayout>div {
    padding: 5px;
}

.headerContainer {
    background-color: var(--farbe4);
    color: var(--farbe2);
}

.scrollContainer {
    overflow: auto;
    scroll-behavior: auto;
    height: calc(100vh - (5px + 38px + 42px + 10px + 28px));

}

.countryContainer {
    background-color: var(--farbe2);
    color: var(--farbe4);
    border: 1px solid var(--farbe4);
    padding: 5px 0px
}

.countryContainer:nth-child(even) {
    background-color: var(--farbe2a);

}

.flagCell {}

.flag {
    height: 40px;
    max-width: 60px;
    border-radius: 10px;
}

.codeCell {
    text-align: center;
}

.areaCell,
.populationCell {
    text-align: right;
}

@media screen and (max-width: 600px) {
    .headerContainer {
        display: none;
    }

    .searchContainer {
        grid-template-columns: 1fr;
        gap: 2px;
    }

    .countryContainer {
        display: grid;
        grid-template-columns: 1fr 3fr 1fr;
    }

    .gridLayout>div {
        padding: 1px 0px 1px 5px;
    }

    .flagCell {
        grid-row: span 4;
        align-self: self-start;
    }

    .nameCell {
        font-size: 1.5em;
    }

    .capitalCell,
    .areaCell,
    .populationCell {
        grid-column: span 2;
        text-align: left;
    }

    .capitalCell::before {
        content: "Capital: ";
    }

    .areaCell::before {
        content: "Area: ";
    }

    .areaCell::after {
        content: " km²";
    }

    .populationCell::before {
        content: "Population: ";
    }






}