.gradle
.idea
build
/assets/
/out/
node_modules
/package.json
/package-lock.json
/src/main/java/franco/week05/TestFile/hello.txt
/src/main/java/franco/week05/TestFile/userInput.txt
/src/main/java/franco/week05/TestFile/test.txt
/output txt
**/.DS_Store

