:root {
    /*--magic-background-1: #1f53ffa3;*/
    --magic-background-1: #1f53ff;
    --magic-font-1: rgb(218, 235, 249);
}

body {
    background-color: rgb(173, 255, 255);
}

h1 {
    color: darkcyan;
}

h2 {
    color: blue;
}

h3 {
    color: darkslateblue;
}

h4 {
    color: darkblue;
}

img,
audio,
video {
    max-width: 75%
}

caption {
    font-style: oblique;
    font-weight: bold;
    font-size: larger;
    background-color: rgb(0, 132, 255);
    border: 3px;
    border-color: darkgreen;
    border-style: double;
    padding: 4px;
}

table,
tr,
td {
    background-color: darkseagreen;
    border: 4px;
    border-color: darkgreen;
    border-style: double;
    padding: 2px;
    border-collapse: separate;
}

tfoot {
    background-color: cadetblue;
    border: 3px;
    border-style: double;
    border-color: darkgreen;
    padding: 5px;
}

ul {
    background-color: rgba(173, 216, 230, 0.425);
}

ol {
    background-color: rgba(64, 255, 0, 0.219);
}

#inhaltsverzeichnis {
    background-color: var(--magic-background-1);
    width: 30% !important;
    border-radius: 25px;
    padding: 5px;
    margin-right: 95%;
}

div {
    width: 65%;
    margin: auto;
    background: #1f53ffa3;
    border: #19062b;
    border-style: groove;
    font-size: larger;
}

a {
    background-color: cyan;
    color: crimson;
}

#inhaltsverzeichnis h4 {
    color: rgb(169, 203, 255);
}

#inhaltsverzeichnis ul {
    background-color: var(--magic-background-1);
    color: var(--magic-font-1);
}

#inhaltsverzeichnis li>a {
    background-color: var(--magic-background-1);
    color: var(--magic-font-1);
}

nav>a {
    color: #001353;
    border: 3px;
    border-color: darkblue;
    border-style: double;
    padding: 5px;
}

#schlussdiv {
    width: 45%;
    margin: auto;
    background: #1f53ffa3;
    border: #19062b;
    border-style: groove;
    font-size: larger;
}

article {
    width: 75%;

}

aside {
    width: 22%;
    border-color: #001353;
    border-style: dotted;
    border-width: 5px;
    font-style: italic;
    padding: 5px;
    background-color: aqua;
    float: right;
}
footer{
    background-color: aquamarine;
}