img {
  width: 20vw;
  border-radius: 20%;
}

ul {
  margin: 0px;
  width: 200px;
  height: 200px;
  border-radius: 15%;
  background: #ff4b33;
}
.Tabelle {
  text-align: center;
  height: 48%;
  width: 48%;
  border: solid #000000;
  margin: auto;
  float: left;
}
