:root {
    --farbe1: #e4660d;
    --farbe2: #a6a9aa;
    --bgfarbe1: #fdfdfd;
    --bgfarbe2: #ededed;
    --textfarbe1: #222222;
    --textfarbe2: #666;
}


body {
    font-family: "Source Sans Pro", sans-serif;
}

a {
    font-size: 18px;
}

input {
    padding-left: 10px;
}



input:focus {

    outline: 2px solid var(--farbe1);
    /* Rote Outline beim Fokus */
}


.centerV {
    padding: 5px 0px;
}

.centerH {
    text-align: center;
}

.left {
    text-align: left;
    padding-left: 5px;
}

.right {
    text-align: right;
    padding-right: 5px;
}

.main {
    background-color: var(--bgfarbe1);
    color: var(--textfarbe1);
    height: 100vh;
    max-width: 1200px;
    margin: auto;

}

.headerLogo {
    width: 200px;
}

.headerFlagIcon {
    width: 50px;
}



.headerRow {
    background-color: var(--bgfarbe1);
    display: grid;
    grid-template-columns: 1fr 1fr 5fr 1fr;
    color: var(--farbe1);
    align-items: center;
    border: 1px solid var(--farbe2);
    font-size: 18px;

}

.headerLeft{
    display: flex;
    justify-content: space-between;
}

.icon {
    display: none;
    color: var(--farbe1);
    font-size: 30px;
}

.menu {
    display: grid;
    grid-template-columns: repeat(5, 1fr);

}

.nav {
    border: 1px;
    border-color: var(--farbe1);
    border-style: solid;
    text-align: center;


}

.nav>a {
    display: inline-block;
    width: 100%;
    padding: 10px 0px;
    color: var(--farbe1);
    text-decoration: none;


}

.nav>a:hover {
    color: white;
    background-color: var(--farbe1);
}

.nav>a:active {
    color: var(--textfarbe1);
    background-color: var(--farbe2);
}



.headerImageRow {
    display: grid;
    grid-template-rows: 5fr 1fr;
    background-color: var(--farbe1);
    height: clamp(200px, 57vw, 400px);
    background-image: url('images/job_search.jpeg');
    background-size: cover;
    /* Skaliert das Bild, um das gesamte Div zu bedecken */
    background-position: center;
    /* Zentriert das Bild innerhalb des Divs */
    background-repeat: no-repeat;
    /* Verhindert, dass das Bild wiederholt wird */
    border: 1px solid #fff;

}



.searchContainer {
    display: grid;
    gap: 5px;
    grid-template-columns: 4fr 2fr 1fr;
    color: var(--farbe1);
    margin: 0 100px;
}

.searchBox {
    display: grid;
    align-items: center;
    margin: 2px 0px;

}

/*input see top*/
.searchBox>input {
    height: 40px;
}


.searchButton {
    display: inline-block;
    background-color: var(--bgfarbe1);
    color: var(--farbe1);
    border: 1px solid var(--farbe1);
    font-size: large;
    text-decoration: none;
    align-content: center;
    text-align: center;
    height: 44px;
}

.searchButton:hover {
    background-color: var(--farbe1);
    color: white;
}

.categoriesContainer {
    background-color: var(--farbe1);
    margin: 20px 100px;
    padding: 10px;
    border: 1px solid var(--farbe2);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    justify-items: center;

}

.category {
    display: grid;
    width: 90%;
    height: 30px;
    margin: 5px;
    padding: 5px;
    border: 1px solid white;
    align-content: center;
    justify-items: left;
    color: white;
    overflow: hidden;
}

.companyContainer {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    margin: 20px 100px;
    align-items: center;
    justify-items: center;
    gap: 10px;
}

.companyBox {
    border: 1px solid var(--farbe1);
    color: var(--farbe1);
    padding: 5px;
}


.greyContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 20px 100px;
    align-items: center;
    gap: 5px;
    height: 200px;
}

.span2Rows {
    grid-row: span 2;
    /* Spanning over two rows */
}

.greyBox {
    background-color: var(--bgfarbe2);
    color: var(--farbe2);
    font-size: 25px;
    border: 1px solid var(--farbe2);
    text-align: center;
    height: 100%;


}


/* ========== MEDIA QUERY ================== */

@media screen and (max-width: 700px) {

    .headerRow,
    .menu,
    .companyContainer,
    .searchContainer {
        grid-template-columns: 1fr;
        width: 100%;
        margin-left: 0;
        margin-right: 0;
    }

    /* .headerRow>div:not(:first-child) {
        display: none;
    } */

    .headerDetail{
        display: none;
    }

    .menu {
        display: none;
    }

    .menu.responsive {
        display: grid;
    }

    .icon {
        /* float: right; */
        display: block;
    }

    .categoriesContainer {
        display: none;
    }

    .greyContainer {
        margin-left: 0;
        margin-right: 0;
    }

    
    .companyBox {
        box-sizing: border-box;
        width: 100%;
    }

    .headerImageRow {
        grid-template-rows: 3fr 1fr;
    }

    .searchContainer {
        padding-bottom: 5px;
    }

    .searchBox {
        width: 90%;
        margin: auto;
    }

    



}