* {
    padding: 0; /* Setzt den Innenabstand aller Elemente auf 0 */
    margin: 0; /* Setzt den Außenabstand aller Elemente auf 0 */
    box-sizing: border-box; /* Die Breite und Höhe von Elementen schließt Padding und Border mit ein */
    font-family: "Poppins", sans-serif; /* Setzt die Schriftart global auf Poppins */
}
body{
    background-color: #f5f8ff; /*Hintergrundfarbe des gesamten Dokuments*/
}
.wrapper {
    width: 95%; /* Setzt die Breite des Containers auf 95% des verfügbaren Platzes */
    margin: 0 auto; /* Zentriert den Container horizontal */
    padding: 20px 50px; /* Setzt das Padding innerhalb des Containers */
}
/* Search,..... */
/*Gestaltet ein Suchfeld, Hintergrund,Unterstrichlinie,Fokussieren des Eingabefeldes ändert sich die Farbe der Unterstrichlinie,*/                      
/*Button wird rechts vom Eingabefeld positioniert,abgerundete Ecken, und seine Textfarbe*/

#search-container{                       
    margin: 1em 0;  
   
}
#search-container input{
    background-color: transparent;
    width: 40%;
    border-bottom: 2px solid #440087;
    padding: 1em 0.3em;
}
#search-container input:focus{
    border-bottom-color: #6759ff;
}
#search-container button{
    padding: 1em 2em;
    margin-left: 1em;
    background-color: #6759ff;
    color: #ffffff;
    border-radius: 5px;
    margin-top: 0.5em;
}  

/*Button, hover...*/
/*Definiert den Stil für alle Buttons auf der Seite, mit spezifischen Farben, Abständen und ohne Rahmen. Beim Überfahren mit der Maus ändert sich die Hintergrundfarbe*/

button {          
    background-color: #6759ff; 
    color: #ffffff; 
    padding: 10px 20px; 
    border: none; 
    border-radius: 5px; 
    cursor: pointer; 
}

button:hover {
    background-color: #bcb8eb; 
}

/*Spezieller Button-Sti*/
.button-value {
    border: 2px solid #6759ff;
    padding: 1em 2.2em;
    border-radius: 3em;
    background-color: transparent;
    color: #6759ff;
    cursor: pointer;
}
/*aktiven Status eines Elements zu signalisieren*/
.active{
    background-color: #6759ff;
    color: #ffffff;
}
/* Erstellt ein Grid-Layout für die Produktliste, mit drei Spalten und einem Abstand zwischen den Spalten*/
#products {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-column-gap: 1.5em;
    padding: 2em 0;
}
/*Definiert einen "Karten"-Stil*/
.card {
    background-color: #ffffff;
    max-width: 18em;
    margin-top: 1em;
    padding: 1em;
    border-radius: 5px;
    box-shadow: 1em 2em 2.5em rgba(146, 85, 23, 0.08);
    border-radius: 20px;
}
/*Image,..*/
/*Zentriert Bilder innerhalb ihrer Container*/

.image-container {
    text-align: center;
    
   
}
img{
    max-width: 100%;
    object-fit: contain;
    height: 15em;
   
}
/*Container fungieren */
.container{
    padding-top: 1em;
    color: #110f29;
   
}
/*Diese Regel zielt auf <h5>-Überschriftenelemente innerhalb eines Elements mit der Klasse .container*/
.container h5 {
    font-weight: 500;
}
/*Elemente aus dem sichtbaren Teil der Webseite zu entfernen*/
.hide{
    display: none;
}

/*Passt das Layout für Bildschirme an*/
@media screen and (max-width: 720px) {
    img{
        max-width: 100%;
        object-fit: contain;
        height: 10em;
    }
    .card{
        max-width: 10em;
        margin-top: 1em;
    }
    #products{
        grid-template-columns: auto auto;
        grid-column-gap: 1em ;
    }
    
}
/*Styling für Socail Media */
footer {
    background: #ffffff;
    color: #6759ff;
    text-align: center;
    padding: 20px 0;
}

footer p, footer a {
    color: #6759ff;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

footer p {
    margin: 10px 0;
}
/*---------------------------------------------------------------
/* Stylesheet for alignment and spacing */
body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

header .top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 50px;
}

#search-container {
    display: flex;
    align-items: center;
    gap: 10px;
}

#price-filter {
    display: flex;
    justify-content: start;
    gap: 10px;
    margin: 20px 0;
}

.wrapper {
    padding: 20px 50px;
}
/*-----------------------------------------------------------------*/
/*MAX UND MIN*/
#price-filter {
    margin-bottom: 20px;
}

input[type="number"], button {
    padding: 8px;
    margin-right: 10px;
}
/*--------------------------------------------------------------------------------*/
/* Wishlist Container Styling */
#wishlist-container {
    background-color: #6759ff; /* Hintergrundfarbe wie Such-Button */
    color: #ffffff; /* Textfarbe wie Such-Button */
    border-radius: 5px; /* Abgerundete Ecken */
    padding: 10px; /* Innerer Abstand */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Optional: Schatten für bessere Sichtbarkeit */
    position: absolute;
    top: 20px; /* Abstand von oben */
    right: 20px; /* Abstand von rechts */
    margin-top: 20px; /* Fügt oben einen Abstand hinzu */
    margin-left: 50px; /* Verschiebt die Wishlist nach rechts */

}

#wishlist-container h4 {
    font-family: "Poppins", sans-serif; /* Gleiche Schriftart wie der Rest der Webseite */
    font-weight: 300; /* Leichtere Schriftstärke für die Überschrift */
}

#wishlist-container button {
    background-color: #bcb8eb; /* Abweichende Hintergrundfarbe für Buttons innerhalb der Wishlist */
    color: #110f29; /* Dunklere Textfarbe für besseren Kontrast */
    border-radius: 5px;
    padding: 1em 2em;
    border: none;
    cursor: pointer;
    margin-top: 0.5em;
    font-weight: 300; /* Leichtere Schriftstärke für die Buttons */
}

#wishlist-container button:hover {
    background-color: #6759ff; /* Farbe beim Hover wie Such-Button */
    color: #ffffff;
}
#wishlist-items h5 {
    font-family: Arial, sans-serif; /* Ändert die Schriftart */
    font-size: 16px; /* Setzt eine spezifische Schriftgröße */
    font-weight: bold; /* Macht den Text fett */
    color: #333; /* Dunkelgraue Textfarbe */
}

#wishlist-items p {
    font-family: 'Times New Roman', serif; /* Ändert die Schriftart zu einer Serifenschrift */
    font-size: 14px; /* Kleinere Schriftgröße für Preise */
    color: #666; /* Mittelgraue Textfarbe */
}
#wishlist-items {
    transition: all 0.3s ease;
    overflow: hidden;
}

/* Common button styling */
.common-button {
    padding: 1em 2em; 
    background-color: #6759ff; 
    color: #ffffff; 
    border-radius: 5px; /* Rounded corners */
    border: none; /* No border */
    cursor: pointer; /* Cursor changes to pointer to indicate clickable */
    margin-top: 0.5em; /* Margin on top for spacing */
}

.common-button:hover {
    background-color: #bcb8eb; 
}

.modalBackground{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(182, 122, 205, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.detailsContainer{
    background:white; 
    padding:20px; 
    border-radius:5px;
}

.detailsImage{
    height:500px;
}