<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div style="display: flex; flex-direction: column; height: 300px">
        <div style="flex-grow: 2; background-color: yellow;">123</div>
        <div style="flex-grow: 3; background-color: aqua; overflow-y: auto; display: flex;">
            <div style="flex-grow: 1; background-color: green; overflow-y: auto;">
                456<br>
                456<br>
                456<br>
                456<br>
                456<br>
                456<br>
                456<br>
                456<br>
                456<br>
                456<br>
                456<br>
                456<br>
                456<br>
                456<br>
                456<br>
                456<br>
                456<br>
                456<br>
                456<br>
                456<br>
                456<br>
                456<br>
                456<br>
                456<br>
                456<br>
                456<br>
                456<br>
                456<br>
                456<br>
                456<br>
                456<br>
                456<br>

            </div>
        </div>
        <div style="flex-grow: 1; background-color: blue;">789</div>

    </div>


</body>

</html>