.topFormat {
  width: 360px;
  height: fit-content;
  background-color: aqua;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

.Image1 {
  margin-left: 20px;
  margin-right: 20px;
  align-self: last baseline;
  width: 20px;
  height: 40px;
}
.InputClass {
  width: 360px;
  padding: 10px;
  background-color: blue;
  display: flex;
  column-gap: 7px;
  align-items: center;
  justify-content: center;
}
.toDoList {
  width: 360px;
  display: grid;
  grid-template-columns: 5fr 3fr 1fr 1fr;
}
