body {
  background-color: black;
}

.head {
  background-image: linear-gradient(rgba(255, 255, 255, 0.886) 0%, rgba(0, 0, 0, 0.79) 100%);
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: nowrap;
  color: rgb(0, 56, 112);
  justify-content: space-between;
}

.head>div {
  margin: 10px;
  font-size: 20px;
display: flex;
}

p{font-size: 1.3em;

}
li{
  font-size: 1.3em;
}

img.portrait {
  width: 25vb;
  float: left;
  padding: 25px;
}

.menu:hover {
  background-color: rgba(195, 167, 215, 0.731);
}

.menu {
  position: relative;
  display: inline-block;
  padding-right: 5vw;
  border-left: 1px;
  border-right: 1px;
  border-color: rgba(0, 0, 0, 0.573);
  border-style: solid;
}

.dropdown {
  background-color: rgba(171, 171, 171, 0.877);
  padding: 16px;
  border: none;
  cursor: pointer;
  flex-wrap: wrap;
  overflow: inherit;

}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: rgba(171, 171, 171, 0.877);
  width: 100%;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  overflow: inherit;
}

.dropdown-content a:hover {
  background-color: rgba(195, 167, 215, 0.731)
}

.menu:hover .dropdown-content {
  display: block;

}

.entry{
  border: 1px;
  border-color: black;
  border-style: solid;
  padding: 5%;
  width: 100%;

}

div {
  background-color: rgba(255, 255, 255, 0.368);
  padding: 15px;
}

* {
  box-sizing: border-box
}

.slideshow {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

.mySlides {
  display: none;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: #717171;
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: .4
  }

  to {
    opacity: 1
  }
}

h1,
h2,
h3,
h4 {
  text-align: center;

}

h1,
h2,
h3,
h4>div {
  background-color: #7171711a;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  background-color: #8ea5b9e6;
  padding: 10px;
  gap: 5px;
  grid-template-columns: repeat(auto-fill, minmax(min(20em, 100%), 1fr));
  grid-auto-flow: dense;
}

.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 30px;
  text-align: center;
}

#sportarten{background-color: rgba(255, 255, 255, 0.479);
    padding: 1.5vw;
}

form{
  font-size: larger;
}
label{
  font-style: oblique;

}

@media screen and (max-width: 480px) {
  body {
    font-size: x-large;
    margin: 0px;
  }

  .head {
    flex-wrap: wrap;
    text-align: left;
    font-size: small;
    margin: hidden;
    padding: hidden;
  }

  .slideshow {
    display: none;
  }

  .mySlides {
    display: none;
  }

  .dot {
    display: none;
  }

  .active,
  .dot:hover {
    display: none;
  }

  .fade {
    display: none;
  }

  img.portrait {
    padding: 5px;
  }

}

@media print {
  body {
    background-color: white;
    color: black;
  }

  head {
    display: none;
  }

  .slideshow {
    display: none;
  }

  .mySlides {
    display: none;
  }

  .dot {
    display: none;
  }

  .active,
  .dot:hover {
    display: none;
  }

  .fade {
    display: none;
  }

  img.portrait {
    display: none;
  }

  .menu {
    display: none;
  }

  .dropdown {
    display: none;
  }

  .dropdown-content {
    display: none;
  }

  .head {
    display: none;
  }
  h3{
    margin-block-start: 0px;
    margin-block-end: 0px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
  }
  h1{
    margin-block-start: 0px;
    margin-block-end: 0px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
  }


}