.wrapper {
  width: 1000px;
  margin: 0 auto;
}
.background {
  height: 1000px;
  background-image: url("images/teamwork-7804129_1280.jpg");
  background-repeat: no-repeat;
}
h1 {
  text-align: center;
}
h2 {
  text-align: center;
}

nav {
  display: flex;
  flex-wrap: wrap;
  background-color: rgb(89, 169, 113);
}
.navElement {
  flex-grow: 1;
  border: 1px solid;
  text-align: center;
}
