html {
  font-family: "Courier New", Courier, monospace;
}

.wrapper {
  width: 360px;
  margin: 0 auto;
  background-image: url("images/teamwork-7804129_1280.jpg");
  background-repeat: no-repeat;
}

h1 {
  text-align: center;
}
h2 {
  text-align: center;
}

nav {
  display: grid;
  grid-auto-flow: row;
}
.navElement {
  background-color: rgb(89, 169, 113);
  font-weight: bold;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  border: 1px solid;
  text-align: center;
  align-content: center;
  margin-left: 2px;
  margin-right: 2px;
  width: 10em;
  height: 2em;
}
.PortfolioHeader {
  justify-items: center;
  font-size: larger;
  font-weight: bold;
  text-align: center;
}
.Portfolio {
  display: grid;
  grid-auto-flow: row;
  justify-content: center;
}
.portfolioErfahrung {
  background-color: rgb(150, 228, 167);
  border: 2px solid rgb(83, 163, 83);
  width: 300px;
  height: 300px;
  margin-top: 3px;
  margin-left: 3px;
}

iframe {
  width: 403px;
  height: 443px;
}
.starjourney {
  width: 400px;
  height: 400px;
  margin-top: 0;
}
main {
  display: grid;
  justify-content: center;
}

@media screen and (min-width: 600px) {
  .wrapper {
    width: 600px;
  }
  nav {
    display: grid;
    grid-auto-flow: column;
  }
  .Portfolio {
    grid-auto-flow: row;
  }
}
@media screen and (min-width: 1000px) {
  .wrapper {
    width: 1000px;
  }
  nav {
    display: grid;
    grid-auto-flow: column;
  }
  .Portfolio {
    grid-auto-flow: column;
  }
}
