<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="index.css">
    <script src="index.js" defer></script>
</head>

<body>
    <div class="layout">
        <header class="header">
            <div class="headerLeft">left aligned</div>
            <div class="headerRight">right aligned</div>
        </header>
        <div class="impressum">
            impressum
        </div>
        <div class="content">
            <div class="contentLeft" id="contentLeft">
                laksdjflasdfa sdf<br>
            </div>
            <div class="contentRight">right</div>
        </div>
        <div class="sponsors">
            sponsors
        </div>
        <footer class="footer">
            footer
        </footer>
    </div>
</body>

</html>